.App{
  width: 50%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid grey;
  box-shadow: 5px 8px 5px rgba(0,0,0,0.3);
  margin: 0rem auto;
  border-radius: 5px;
  margin-top: 2rem;
}

.input{
  width: 90%;
  background-color: teal;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin: 30px auto;  
  outline: none;
}

.App button {
  max-width: 80%;
  border: none;
  color: white;
  background-color: teal;
  border-radius: 5px;
  margin: 10px auto;
}

.shorten{
  background-color: red;
  color: white;
  max-width: 80%;
  border:none;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 1rem;
}